application-example.yml.example


spring:
  # database config
  datasource:
    url: jdbc:mysql://localhost:3306/booking_system?useSSL=false&serverTimezone=Asia/Shanghai&allowPublicKeyRetrieval=true
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver

  # Redis config
  data:
    redis:
      host: localhost
      port: 6379
      database: 0

  # JPA config
  jpa:
    open-in-view: false
    hibernate:
      ddl-auto: update
    show-sql: true

# aliyun mail_service config
aliyun:
  mail:
    access-key-id: YOUR_ALICLOUD_ACCESS_KEY_ID
    access-key-secret: YOUR_ALICLOUD_ACCESS_KEY_SECRET
    region: cn-hangzhou
    from-address: service@mail.fulingyi.xyz

# alipay config(sandbox)
alipay:
  gateway-url: https://openapi-sandbox.dl.alipaydev.com/gateway.do
  app-id: YOUR_ALIPAY_APP_ID
  private-key: YOUR_ALIPAY_PRIVATE_KEY
  public-key: YOUR_ALIPAY_PUBLIC_KEY
  notify-url: http://localhost:8080/bookings/alipay/notify

# payment switch
payment:
  mock-enabled: true